

/* 
//
//
----------------  Custom Styling ---------------- 
//
//
*/


.gallery {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_title {
        font-size: var(--fs-900);
        font-weight: var(--fw-bold);
        margin-bottom: 1em;
    }

    &_form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.5em;
        box-shadow: 0 0 1.25em rgba(0,0,0,0.2);

        #search-input {
            width: 80vw;
            max-width: 400px;
            padding: .7em 1.5em;
            border: none;
            outline: none;
            // box-shadow: 0 0 1.25em rgba(0,0,0,0.2);
            border-radius: 5px 0 0 5px;
            // background-color: var(--clr-nut-100-white);
        }

        #search-btn {
            padding: .7em 1.5em;
            border-radius: 0 5px 5px 0;
            border: none;
            color: var(--clr-nut-100-white);
            background-color: var(--clr-prm-500-appleGreen);
            cursor: pointer;
            transition: background-color .3s ease-in-out;
            // box-shadow: 0 0 1.25em rgba(0,0,0,0.2);

            &:hover {
                background-color: var(--clr-nut-400-mayGreen);
            }
        } 
    }

    &_data {
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        columns: 3;
        column-gap: 20px;

        @media (max-width: 650px) {
            columns: 2;
        }

        @media (max-width: 375px) {
            columns: 1;
        }
    }

    &_card {
        width: 100%;
        margin: 20px;
        break-inside: avoid;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }
    }
    
    &_img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    a {
        padding: 10px;
        display: block;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

#show-more-button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: none;

    &:hover {
        background-color: #0077b5;
    }
  }
